## Codio Activity 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 20 Points**

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [1]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### loc[]

**2 Points each**

In this exercise, return the basic information from a dataframe using loc[]

In [2]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('data/nba.csv')
data = data.iloc[:-1 , :] # removing last row NaN
data.head(10)

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [3]:
### GRADED

# Please print the information for the first line in the DataFrame. 

locinfo = None
#print(data)
### BEGIN SOLUTION
locinfo = data.loc[0, : ]
### END SOLUTION
from pprint import pprint
# ANSWER CHECK
print(locinfo)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

In [4]:
### BEGIN HIDDEN TESTS
locinfo1 = data.loc[0]
assert type(locinfo) == type(locinfo1)
locinfo == locinfo1

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 0, dtype: bool

In [5]:
### GRADED
# Please show LeBron James' name and team

teamdata = None

### BEGIN SOLUTION
teamdata = data.loc[data['Name'] == 'LeBron James', 'Name':'Team']
### END SOLUTION

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

In [6]:
### BEGIN HIDDEN TESTS
teamdata_ = data.loc[data.Name == 'LeBron James', 'Name':'Team']
assert type(teamdata) == type(teamdata_)
teamdata == teamdata_

### END HIDDEN TESTS

     Name  Team
169  True  True

[Back to top](#Index:) 

## Part two

### iloc[]

**2 Points each**

In this exercise, return single selections using iloc[]

In [7]:
### GRADED
# Please print the first row of data frame 

fr = None

### BEGIN SOLUTION

fr = data.iloc[0]

### END SOLUTION

# ANSWER CHECK
print(fr)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

In [8]:
### BEGIN HIDDEN TESTS

## Old test case, seem incorrect. Commenting it for now...
# teamdata1 = data.loc[data.Name == 'LeBron James', 'Name':'Team']
# assert type(teamdata) == type(teamdata1)
# teamdata == teamdata1

fr_ =  data.iloc[0]
assert type(fr) == type(fr_ )
fr == fr_

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 0, dtype: bool

In [9]:
### GRADED
# Please print the second row of data frame 

sr = None

### BEGIN SOLUTION

sr =  data.iloc[1]

### END SOLUTION

# ANSWER CHECK
print(sr)

Unnamed: 0                 1
Name             Jae Crowder
Team          Boston Celtics
Number                  99.0
Position                  SF
Age                     25.0
Height                   6-6
Weight                 235.0
College            Marquette
Salary             6796117.0
Name: 1, dtype: object

In [10]:
### BEGIN HIDDEN TESTS
sr_ =  data.iloc[1]
assert type(sr) == type(sr_ )
sr == sr_ 

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 1, dtype: bool

In [11]:
### GRADED
# Please print the last row of data frame

lr = None

### BEGIN SOLUTION

lr =  data.iloc[-1] 

### END SOLUTION

# ANSWER CHECK
print(lr)

Unnamed: 0             455
Name          Tibor Pleiss
Team             Utah Jazz
Number                21.0
Position                 C
Age                   26.0
Height                 7-3
Weight               256.0
College                NaN
Salary           2900000.0
Name: 455, dtype: object

In [12]:
### BEGIN HIDDEN TESTS
lr_ =  data.iloc[-1]
assert type(lr) == type(lr_)
lr == lr_

### END HIDDEN TESTS

Unnamed: 0     True
Name           True
Team           True
Number         True
Position       True
Age            True
Height         True
Weight         True
College       False
Salary         True
Name: 455, dtype: bool

In [13]:
###GRADED
# Please print the first column of data frame
 
fc = None

### BEGIN SOLUTION

fc =  data.iloc[:,0] 

### END SOLUTION

# ANSWER CHECK
print(fc)

0        0
1        1
2        2
3        3
4        4
      ...
451    451
452    452
453    453
454    454
455    455
Name: Unnamed: 0, Length: 456, dtype: int64

In [14]:
### BEGIN HIDDEN TESTS
fc_ =  data.iloc[:,0]
assert type(fc) == type(fc_)
fc == fc_

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Unnamed: 0, Length: 456, dtype: bool

In [15]:
### GRADED
# Please print the second column of data frame

sc = None

### BEGIN SOLUTION

sc =  data.iloc[:,1]

### END SOLUTION

# ANSWER CHECK
print(sc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [16]:
### BEGIN HIDDEN TESTS
sc_ =  data.iloc[:,1]
assert type(sc) == type(sc_)
sc == sc_

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Name, Length: 456, dtype: bool

In [17]:
### GRADED
# Please print the last column of data frame

lc = None

### BEGIN SOLUTION

lc =  data.iloc[:,-1] 

### END SOLUTION

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

In [18]:
### BEGIN HIDDEN TESTS
lc_ =  data.iloc[:,-1]
assert type(lc) == type(lc_)
lc == lc_

### END HIDDEN TESTS

0       True
1       True
2      False
3       True
4       True
       ...
451     True
452     True
453     True
454     True
455     True
Name: Salary, Length: 456, dtype: bool

[Back to top](#Index:) 

## Part three

### Split

**2 Points each**

In this exercise, return the first and last name utilizing the split function

In [19]:
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [20]:
### GRADED

# Please print the first name of the first series in the data frame

firstname = None

### BEGIN SOLUTION

firstname = data['Name'].str.split().str[0].iloc[0]

### END SOLUTION

# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In [21]:
### BEGIN HIDDEN TESTS
firstname1 =  data['Name'].str.split().str[0].iloc[0]
assert type(firstname) == type(firstname1)
firstname == firstname1

### END HIDDEN TESTS

True

### # Please print the first name of the first series in the data frame

#### Plamen's explanation

In [22]:
# the data frame
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [23]:
# the first series in the data frame
data.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [24]:
# the first data series in the data frame (split)
data.Name.str.split()

0      [Avery, Bradley]
1        [Jae, Crowder]
2       [John, Holland]
3        [R.J., Hunter]
4      [Jonas, Jerebko]
             ...
451    [Chris, Johnson]
452       [Trey, Lyles]
453     [Shelvin, Mack]
454        [Raul, Neto]
455     [Tibor, Pleiss]
Name: Name, Length: 456, dtype: object

In [25]:
# the first name of the first series in the data frame
# returns pandas series
data.Name.str.split().str[0]

0        Avery
1          Jae
2         John
3         R.J.
4        Jonas
        ...
451      Chris
452       Trey
453    Shelvin
454       Raul
455      Tibor
Name: Name, Length: 456, dtype: object

In [26]:
# the first record or the first value of the Data Series, which series is "the first name of the first data series in the data frame"
# returns string
data.Name.iloc[0].split()[0]

'Avery'

In [27]:
# Your answer returns: first record or first value of a series "the first name of the first data series in the data frame"
# returns string
data['Name'].str.split().str[0].iloc[0]

'Avery'

In [28]:
###GRADED

# Please print the last name of the first series in the data frame

lastname = None

### BEGIN SOLUTION
lastname =  data['Name'].str.split().str[1].iloc[0]
### END SOLUTION

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley

In [29]:
### BEGIN HIDDEN TESTS
lastname1 =  data['Name'].str.split().str[1].iloc[0]
assert type(lastname) == type(lastname1)
lastname == lastname1

### END HIDDEN TESTS

True

### # Please print the last name of the first series in the data frame

#### Plamen's explanation

In [30]:
# the data frame
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [31]:
# the first series in the data frame
data['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [32]:
# the first series in the data frame (split)
data['Name'].str.split()

0      [Avery, Bradley]
1        [Jae, Crowder]
2       [John, Holland]
3        [R.J., Hunter]
4      [Jonas, Jerebko]
             ...
451    [Chris, Johnson]
452       [Trey, Lyles]
453     [Shelvin, Mack]
454        [Raul, Neto]
455     [Tibor, Pleiss]
Name: Name, Length: 456, dtype: object

In [33]:
# the last name of the first series in the data frame
# returns pandas series
data['Name'].str.split().str[1]

0      Bradley
1      Crowder
2      Holland
3       Hunter
4      Jerebko
        ...
451    Johnson
452      Lyles
453       Mack
454       Neto
455     Pleiss
Name: Name, Length: 456, dtype: object

In [34]:
# the first record or the first value of the Data Series, which series is "the last name of the first data series in the data frame"
# returns string
data.Name.str.split().str[1].iloc[0]

'Bradley'

In [35]:
# Your answer returns: first record or first value of a series "the last name of the first data series in the data frame"
# returns string
data['Name'].str.split().str[1].iloc[0]

'Bradley'

### Please print:  the first name of the first series in the data frame

In [36]:
# dataframe
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [37]:
#the first series 
data['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

### "THE FIRST NAME OF THE FIRST SERIES" is ambiguous
#### in the above example

# it could be interpreted in two different ways

#### *as the first name of all names in the first series, which "Avery Bradley",*
#### *but that value has 'First Name' as well*

In [50]:
# the first name of the first series
data['Name'].iloc[0]

'Avery Bradley'

#### *as the first name of all full names in the first series*

In [51]:
# the first name of the first series
data['Name'].str.split().str[0]

0        Avery
1          Jae
2         John
3         R.J.
4        Jonas
        ...
451      Chris
452       Trey
453    Shelvin
454       Raul
455      Tibor
Name: Name, Length: 456, dtype: object

In [42]:
print('| First Name | --- | Last Name | = | Name |')
print('------------------------------------------')
for name in data['Name']:
    print('| {} | --- | {} | = | {} |'.format(str(name).split()[0], str(name).split()[1], name))

| First Name | --- | Last Name | = | Name |
------------------------------------------
| Avery | --- | Bradley | = | Avery Bradley |
| Jae | --- | Crowder | = | Jae Crowder |
| John | --- | Holland | = | John Holland |
| R.J. | --- | Hunter | = | R.J. Hunter |
| Jonas | --- | Jerebko | = | Jonas Jerebko |
| Amir | --- | Johnson | = | Amir Johnson |
| Jordan | --- | Mickey | = | Jordan Mickey |
| Kelly | --- | Olynyk | = | Kelly Olynyk |
| Terry | --- | Rozier | = | Terry Rozier |
| Marcus | --- | Smart | = | Marcus Smart |
| Jared | --- | Sullinger | = | Jared Sullinger |
| Isaiah | --- | Thomas | = | Isaiah Thomas |
| Evan | --- | Turner | = | Evan Turner |
| James | --- | Young | = | James Young |
| Tyler | --- | Zeller | = | Tyler Zeller |
| Bojan | --- | Bogdanovic | = | Bojan Bogdanovic |
| Markel | --- | Brown | = | Markel Brown |
| Wayne | --- | Ellington | = | Wayne Ellington |
| Rondae | --- | Hollis-Jefferson | = | Rondae Hollis-Jefferson |
| Jarrett | --- | Jack | = | Jarrett Jack |
| Sergey | --- | Karasev | = | Sergey Karasev |
| Sean | --- | Kilpatrick | = | Sean Kilpatrick |
| Shane | --- | Larkin | = | Shane Larkin |
| Brook | --- | Lopez | = | Brook Lopez |
| Chris | --- | McCullough | = | Chris McCullough |
| Willie | --- | Reed | = | Willie Reed |
| Thomas | --- | Robinson | = | Thomas Robinson |
| Henry | --- | Sims | = | Henry Sims |
| Donald | --- | Sloan | = | Donald Sloan |
| Thaddeus | --- | Young | = | Thaddeus Young |
| Arron | --- | Afflalo | = | Arron Afflalo |
| Lou | --- | Amundson | = | Lou Amundson |
| Thanasis | --- | Antetokounmpo | = | Thanasis Antetokounmpo |
| Carmelo | --- | Anthony | = | Carmelo Anthony |
| Jose | --- | Calderon | = | Jose Calderon |
| Cleanthony | --- | Early | = | Cleanthony Early |
| Langston | --- | Galloway | = | Langston Galloway |
| Jerian | --- | Grant | = | Jerian Grant |
| Robin | --- | Lopez | = | Robin Lopez |
| Kyle | --- | O'Quinn | = | Kyle O'Quinn |
| Kristaps | --- | Porzingis | = | Kristaps Porzingis |
| Kevin | --- | Seraphin | = | Kevin Seraphin |
| Lance | --- | Thomas | = | Lance Thomas |
| Sasha | --- | Vujacic | = | Sasha Vujacic |
| Derrick | --- | Williams | = | Derrick Williams |
| Tony | --- | Wroten | = | Tony Wroten |
| Elton | --- | Brand | = | Elton Brand |
| Isaiah | --- | Canaan | = | Isaiah Canaan |
| Robert | --- | Covington | = | Robert Covington |
| Joel | --- | Embiid | = | Joel Embiid |
| Jerami | --- | Grant | = | Jerami Grant |
| Richaun | --- | Holmes | = | Richaun Holmes |
| Carl | --- | Landry | = | Carl Landry |
| Kendall | --- | Marshall | = | Kendall Marshall |
| T.J. | --- | McConnell | = | T.J. McConnell |
| Nerlens | --- | Noel | = | Nerlens Noel |
| Jahlil | --- | Okafor | = | Jahlil Okafor |
| Ish | --- | Smith | = | Ish Smith |
| Nik | --- | Stauskas | = | Nik Stauskas |
| Hollis | --- | Thompson | = | Hollis Thompson |
| Christian | --- | Wood | = | Christian Wood |
| Bismack | --- | Biyombo | = | Bismack Biyombo |
| Bruno | --- | Caboclo | = | Bruno Caboclo |
| DeMarre | --- | Carroll | = | DeMarre Carroll |
| DeMar | --- | DeRozan | = | DeMar DeRozan |
| James | --- | Johnson | = | James Johnson |
| Cory | --- | Joseph | = | Cory Joseph |
| Kyle | --- | Lowry | = | Kyle Lowry |
| Lucas | --- | Nogueira | = | Lucas Nogueira |
| Patrick | --- | Patterson | = | Patrick Patterson |
| Norman | --- | Powell | = | Norman Powell |
| Terrence | --- | Ross | = | Terrence Ross |
| Luis | --- | Scola | = | Luis Scola |
| Jason | --- | Thompson | = | Jason Thompson |
| Jonas | --- | Valanciunas | = | Jonas Valanciunas |
| Delon | --- | Wright | = | Delon Wright |
| Leandro | --- | Barbosa | = | Leandro Barbosa |
| Harrison | --- | Barnes | = | Harrison Barnes |
| Andrew | --- | Bogut | = | Andrew Bogut |
| Ian | --- | Clark | = | Ian Clark |
| Stephen | --- | Curry | = | Stephen Curry |
| Festus | --- | Ezeli | = | Festus Ezeli |
| Draymond | --- | Green | = | Draymond Green |
| Andre | --- | Iguodala | = | Andre Iguodala |
| Shaun | --- | Livingston | = | Shaun Livingston |
| Kevon | --- | Looney | = | Kevon Looney |
| James | --- | Michael | = | James Michael McAdoo |
| Brandon | --- | Rush | = | Brandon Rush |
| Marreese | --- | Speights | = | Marreese Speights |
| Klay | --- | Thompson | = | Klay Thompson |
| Anderson | --- | Varejao | = | Anderson Varejao |
| Cole | --- | Aldrich | = | Cole Aldrich |
| Jeff | --- | Ayres | = | Jeff Ayres |
| Jamal | --- | Crawford | = | Jamal Crawford |
| Branden | --- | Dawson | = | Branden Dawson |
| Jeff | --- | Green | = | Jeff Green |
| Blake | --- | Griffin | = | Blake Griffin |
| Wesley | --- | Johnson | = | Wesley Johnson |
| DeAndre | --- | Jordan | = | DeAndre Jordan |
| Luc | --- | Richard | = | Luc Richard Mbah a Moute |
| Chris | --- | Paul | = | Chris Paul |
| Paul | --- | Pierce | = | Paul Pierce |
| Pablo | --- | Prigioni | = | Pablo Prigioni |
| JJ | --- | Redick | = | JJ Redick |
| Austin | --- | Rivers | = | Austin Rivers |
| C.J. | --- | Wilcox | = | C.J. Wilcox |
| Brandon | --- | Bass | = | Brandon Bass |
| Tarik | --- | Black | = | Tarik Black |
| Anthony | --- | Brown | = | Anthony Brown |
| Kobe | --- | Bryant | = | Kobe Bryant |
| Jordan | --- | Clarkson | = | Jordan Clarkson |
| Roy | --- | Hibbert | = | Roy Hibbert |
| Marcelo | --- | Huertas | = | Marcelo Huertas |
| Ryan | --- | Kelly | = | Ryan Kelly |
| Larry | --- | Nance | = | Larry Nance Jr. |
| Julius | --- | Randle | = | Julius Randle |
| D'Angelo | --- | Russell | = | D'Angelo Russell |
| Robert | --- | Sacre | = | Robert Sacre |
| Louis | --- | Williams | = | Louis Williams |
| Metta | --- | World | = | Metta World Peace |
| Nick | --- | Young | = | Nick Young |
| Eric | --- | Bledsoe | = | Eric Bledsoe |
| Devin | --- | Booker | = | Devin Booker |
| Chase | --- | Budinger | = | Chase Budinger |
| Tyson | --- | Chandler | = | Tyson Chandler |
| Archie | --- | Goodwin | = | Archie Goodwin |
| John | --- | Jenkins | = | John Jenkins |
| Brandon | --- | Knight | = | Brandon Knight |
| Alex | --- | Len | = | Alex Len |
| Jon | --- | Leuer | = | Jon Leuer |
| Phil | --- | Pressey | = | Phil Pressey |
| Ronnie | --- | Price | = | Ronnie Price |
| Mirza | --- | Teletovic | = | Mirza Teletovic |
| P.J. | --- | Tucker | = | P.J. Tucker |
| T.J. | --- | Warren | = | T.J. Warren |
| Alan | --- | Williams | = | Alan Williams |
| Quincy | --- | Acy | = | Quincy Acy |
| James | --- | Anderson | = | James Anderson |
| Marco | --- | Belinelli | = | Marco Belinelli |
| Caron | --- | Butler | = | Caron Butler |
| Omri | --- | Casspi | = | Omri Casspi |
| Willie | --- | Cauley-Stein | = | Willie Cauley-Stein |
| Darren | --- | Collison | = | Darren Collison |
| DeMarcus | --- | Cousins | = | DeMarcus Cousins |
| Seth | --- | Curry | = | Seth Curry |
| Duje | --- | Dukan | = | Duje Dukan |
| Rudy | --- | Gay | = | Rudy Gay |
| Kosta | --- | Koufos | = | Kosta Koufos |
| Ben | --- | McLemore | = | Ben McLemore |
| Eric | --- | Moreland | = | Eric Moreland |
| Rajon | --- | Rondo | = | Rajon Rondo |
| Cameron | --- | Bairstow | = | Cameron Bairstow |
| Aaron | --- | Brooks | = | Aaron Brooks |
| Jimmy | --- | Butler | = | Jimmy Butler |
| Mike | --- | Dunleavy | = | Mike Dunleavy |
| Cristiano | --- | Felicio | = | Cristiano Felicio |
| Pau | --- | Gasol | = | Pau Gasol |
| Taj | --- | Gibson | = | Taj Gibson |
| Justin | --- | Holiday | = | Justin Holiday |
| Doug | --- | McDermott | = | Doug McDermott |
| Nikola | --- | Mirotic | = | Nikola Mirotic |
| E'Twaun | --- | Moore | = | E'Twaun Moore |
| Joakim | --- | Noah | = | Joakim Noah |
| Bobby | --- | Portis | = | Bobby Portis |
| Derrick | --- | Rose | = | Derrick Rose |
| Tony | --- | Snell | = | Tony Snell |
| Matthew | --- | Dellavedova | = | Matthew Dellavedova |
| Channing | --- | Frye | = | Channing Frye |
| Kyrie | --- | Irving | = | Kyrie Irving |
| LeBron | --- | James | = | LeBron James |
| Richard | --- | Jefferson | = | Richard Jefferson |
| Dahntay | --- | Jones | = | Dahntay Jones |
| James | --- | Jones | = | James Jones |
| Sasha | --- | Kaun | = | Sasha Kaun |
| Kevin | --- | Love | = | Kevin Love |
| Jordan | --- | McRae | = | Jordan McRae |
| Timofey | --- | Mozgov | = | Timofey Mozgov |
| Iman | --- | Shumpert | = | Iman Shumpert |
| J.R. | --- | Smith | = | J.R. Smith |
| Tristan | --- | Thompson | = | Tristan Thompson |
| Mo | --- | Williams | = | Mo Williams |
| Joel | --- | Anthony | = | Joel Anthony |
| Aron | --- | Baynes | = | Aron Baynes |
| Steve | --- | Blake | = | Steve Blake |
| Lorenzo | --- | Brown | = | Lorenzo Brown |
| Reggie | --- | Bullock | = | Reggie Bullock |
| Kentavious | --- | Caldwell-Pope | = | Kentavious Caldwell-Pope |
| Spencer | --- | Dinwiddie | = | Spencer Dinwiddie |
| Andre | --- | Drummond | = | Andre Drummond |
| Tobias | --- | Harris | = | Tobias Harris |
| Darrun | --- | Hilliard | = | Darrun Hilliard |
| Reggie | --- | Jackson | = | Reggie Jackson |
| Stanley | --- | Johnson | = | Stanley Johnson |
| Jodie | --- | Meeks | = | Jodie Meeks |
| Marcus | --- | Morris | = | Marcus Morris |
| Anthony | --- | Tolliver | = | Anthony Tolliver |
| Lavoy | --- | Allen | = | Lavoy Allen |
| Rakeem | --- | Christmas | = | Rakeem Christmas |
| Monta | --- | Ellis | = | Monta Ellis |
| Paul | --- | George | = | Paul George |
| George | --- | Hill | = | George Hill |
| Jordan | --- | Hill | = | Jordan Hill |
| Solomon | --- | Hill | = | Solomon Hill |
| Ty | --- | Lawson | = | Ty Lawson |
| Ian | --- | Mahinmi | = | Ian Mahinmi |
| C.J. | --- | Miles | = | C.J. Miles |
| Glenn | --- | Robinson | = | Glenn Robinson III |
| Rodney | --- | Stuckey | = | Rodney Stuckey |
| Myles | --- | Turner | = | Myles Turner |
| Shayne | --- | Whittington | = | Shayne Whittington |
| Joe | --- | Young | = | Joe Young |
| Giannis | --- | Antetokounmpo | = | Giannis Antetokounmpo |
| Jerryd | --- | Bayless | = | Jerryd Bayless |
| Michael | --- | Carter-Williams | = | Michael Carter-Williams |
| Jared | --- | Cunningham | = | Jared Cunningham |
| Tyler | --- | Ennis | = | Tyler Ennis |
| John | --- | Henson | = | John Henson |
| Damien | --- | Inglis | = | Damien Inglis |
| O.J. | --- | Mayo | = | O.J. Mayo |
| Khris | --- | Middleton | = | Khris Middleton |
| Greg | --- | Monroe | = | Greg Monroe |
| Steve | --- | Novak | = | Steve Novak |
| Johnny | --- | O'Bryant | = | Johnny O'Bryant III |
| Jabari | --- | Parker | = | Jabari Parker |
| Miles | --- | Plumlee | = | Miles Plumlee |
| Greivis | --- | Vasquez | = | Greivis Vasquez |
| Rashad | --- | Vaughn | = | Rashad Vaughn |
| Justin | --- | Anderson | = | Justin Anderson |
| J.J. | --- | Barea | = | J.J. Barea |
| Jeremy | --- | Evans | = | Jeremy Evans |
| Raymond | --- | Felton | = | Raymond Felton |
| Devin | --- | Harris | = | Devin Harris |
| David | --- | Lee | = | David Lee |
| Wesley | --- | Matthews | = | Wesley Matthews |
| JaVale | --- | McGee | = | JaVale McGee |
| Salah | --- | Mejri | = | Salah Mejri |
| Dirk | --- | Nowitzki | = | Dirk Nowitzki |
| Zaza | --- | Pachulia | = | Zaza Pachulia |
| Chandler | --- | Parsons | = | Chandler Parsons |
| Dwight | --- | Powell | = | Dwight Powell |
| Charlie | --- | Villanueva | = | Charlie Villanueva |
| Deron | --- | Williams | = | Deron Williams |
| Trevor | --- | Ariza | = | Trevor Ariza |
| Michael | --- | Beasley | = | Michael Beasley |
| Patrick | --- | Beverley | = | Patrick Beverley |
| Corey | --- | Brewer | = | Corey Brewer |
| Clint | --- | Capela | = | Clint Capela |
| Sam | --- | Dekker | = | Sam Dekker |
| Andrew | --- | Goudelock | = | Andrew Goudelock |
| James | --- | Harden | = | James Harden |
| Montrezl | --- | Harrell | = | Montrezl Harrell |
| Dwight | --- | Howard | = | Dwight Howard |
| Terrence | --- | Jones | = | Terrence Jones |
| K.J. | --- | McDaniels | = | K.J. McDaniels |
| Donatas | --- | Motiejunas | = | Donatas Motiejunas |
| Josh | --- | Smith | = | Josh Smith |
| Jason | --- | Terry | = | Jason Terry |
| Jordan | --- | Adams | = | Jordan Adams |
| Tony | --- | Allen | = | Tony Allen |
| Chris | --- | Andersen | = | Chris Andersen |
| Matt | --- | Barnes | = | Matt Barnes |
| Vince | --- | Carter | = | Vince Carter |
| Mike | --- | Conley | = | Mike Conley |
| Bryce | --- | Cotton | = | Bryce Cotton |
| Jordan | --- | Farmar | = | Jordan Farmar |
| Marc | --- | Gasol | = | Marc Gasol |
| JaMychal | --- | Green | = | JaMychal Green |
| P.J. | --- | Hairston | = | P.J. Hairston |
| Jarell | --- | Martin | = | Jarell Martin |
| Ray | --- | McCallum | = | Ray McCallum |
| Xavier | --- | Munford | = | Xavier Munford |
| Zach | --- | Randolph | = | Zach Randolph |
| Lance | --- | Stephenson | = | Lance Stephenson |
| Alex | --- | Stepheson | = | Alex Stepheson |
| Brandan | --- | Wright | = | Brandan Wright |
| Alexis | --- | Ajinca | = | Alexis Ajinca |
| Ryan | --- | Anderson | = | Ryan Anderson |
| Omer | --- | Asik | = | Omer Asik |
| Luke | --- | Babbitt | = | Luke Babbitt |
| Norris | --- | Cole | = | Norris Cole |
| Dante | --- | Cunningham | = | Dante Cunningham |
| Anthony | --- | Davis | = | Anthony Davis |
| Bryce | --- | Dejean-Jones | = | Bryce Dejean-Jones |
| Toney | --- | Douglas | = | Toney Douglas |
| James | --- | Ennis | = | James Ennis |
| Tyreke | --- | Evans | = | Tyreke Evans |
| Tim | --- | Frazier | = | Tim Frazier |
| Alonzo | --- | Gee | = | Alonzo Gee |
| Eric | --- | Gordon | = | Eric Gordon |
| Jordan | --- | Hamilton | = | Jordan Hamilton |
| Jrue | --- | Holiday | = | Jrue Holiday |
| Orlando | --- | Johnson | = | Orlando Johnson |
| Kendrick | --- | Perkins | = | Kendrick Perkins |
| Quincy | --- | Pondexter | = | Quincy Pondexter |
| LaMarcus | --- | Aldridge | = | LaMarcus Aldridge |
| Kyle | --- | Anderson | = | Kyle Anderson |
| Matt | --- | Bonner | = | Matt Bonner |
| Boris | --- | Diaw | = | Boris Diaw |
| Tim | --- | Duncan | = | Tim Duncan |
| Manu | --- | Ginobili | = | Manu Ginobili |
| Danny | --- | Green | = | Danny Green |
| Kawhi | --- | Leonard | = | Kawhi Leonard |
| Boban | --- | Marjanovic | = | Boban Marjanovic |
| Kevin | --- | Martin | = | Kevin Martin |
| Andre | --- | Miller | = | Andre Miller |
| Patty | --- | Mills | = | Patty Mills |
| Tony | --- | Parker | = | Tony Parker |
| Jonathon | --- | Simmons | = | Jonathon Simmons |
| David | --- | West | = | David West |
| Kent | --- | Bazemore | = | Kent Bazemore |
| Tim | --- | Hardaway | = | Tim Hardaway Jr. |
| Kirk | --- | Hinrich | = | Kirk Hinrich |
| Al | --- | Horford | = | Al Horford |
| Kris | --- | Humphries | = | Kris Humphries |
| Kyle | --- | Korver | = | Kyle Korver |
| Paul | --- | Millsap | = | Paul Millsap |
| Mike | --- | Muscala | = | Mike Muscala |
| Lamar | --- | Patterson | = | Lamar Patterson |
| Dennis | --- | Schroder | = | Dennis Schroder |
| Mike | --- | Scott | = | Mike Scott |
| Thabo | --- | Sefolosha | = | Thabo Sefolosha |
| Tiago | --- | Splitter | = | Tiago Splitter |
| Walter | --- | Tavares | = | Walter Tavares |
| Jeff | --- | Teague | = | Jeff Teague |
| Nicolas | --- | Batum | = | Nicolas Batum |
| Troy | --- | Daniels | = | Troy Daniels |
| Jorge | --- | Gutierrez | = | Jorge Gutierrez |
| Tyler | --- | Hansbrough | = | Tyler Hansbrough |
| Aaron | --- | Harrison | = | Aaron Harrison |
| Spencer | --- | Hawes | = | Spencer Hawes |
| Al | --- | Jefferson | = | Al Jefferson |
| Frank | --- | Kaminsky | = | Frank Kaminsky III |
| Michael | --- | Kidd-Gilchrist | = | Michael Kidd-Gilchrist |
| Jeremy | --- | Lamb | = | Jeremy Lamb |
| Courtney | --- | Lee | = | Courtney Lee |
| Jeremy | --- | Lin | = | Jeremy Lin |
| Kemba | --- | Walker | = | Kemba Walker |
| Marvin | --- | Williams | = | Marvin Williams |
| Cody | --- | Zeller | = | Cody Zeller |
| Chris | --- | Bosh | = | Chris Bosh |
| Luol | --- | Deng | = | Luol Deng |
| Goran | --- | Dragic | = | Goran Dragic |
| Gerald | --- | Green | = | Gerald Green |
| Udonis | --- | Haslem | = | Udonis Haslem |
| Joe | --- | Johnson | = | Joe Johnson |
| Tyler | --- | Johnson | = | Tyler Johnson |
| Josh | --- | McRoberts | = | Josh McRoberts |
| Josh | --- | Richardson | = | Josh Richardson |
| Amar'e | --- | Stoudemire | = | Amar'e Stoudemire |
| Dwyane | --- | Wade | = | Dwyane Wade |
| Briante | --- | Weber | = | Briante Weber |
| Hassan | --- | Whiteside | = | Hassan Whiteside |
| Justise | --- | Winslow | = | Justise Winslow |
| Dorell | --- | Wright | = | Dorell Wright |
| Dewayne | --- | Dedmon | = | Dewayne Dedmon |
| Evan | --- | Fournier | = | Evan Fournier |
| Aaron | --- | Gordon | = | Aaron Gordon |
| Mario | --- | Hezonja | = | Mario Hezonja |
| Ersan | --- | Ilyasova | = | Ersan Ilyasova |
| Brandon | --- | Jennings | = | Brandon Jennings |
| Devyn | --- | Marble | = | Devyn Marble |
| Shabazz | --- | Napier | = | Shabazz Napier |
| Andrew | --- | Nicholson | = | Andrew Nicholson |
| Victor | --- | Oladipo | = | Victor Oladipo |
| Elfrid | --- | Payton | = | Elfrid Payton |
| Jason | --- | Smith | = | Jason Smith |
| Nikola | --- | Vucevic | = | Nikola Vucevic |
| C.J. | --- | Watson | = | C.J. Watson |
| Alan | --- | Anderson | = | Alan Anderson |
| Bradley | --- | Beal | = | Bradley Beal |
| Jared | --- | Dudley | = | Jared Dudley |
| Jarell | --- | Eddie | = | Jarell Eddie |
| Drew | --- | Gooden | = | Drew Gooden |
| Marcin | --- | Gortat | = | Marcin Gortat |
| JJ | --- | Hickson | = | JJ Hickson |
| Nene | --- | Hilario | = | Nene Hilario |
| Markieff | --- | Morris | = | Markieff Morris |
| Kelly | --- | Oubre | = | Kelly Oubre Jr. |
| Otto | --- | Porter | = | Otto Porter Jr. |
| Ramon | --- | Sessions | = | Ramon Sessions |
| Garrett | --- | Temple | = | Garrett Temple |
| Marcus | --- | Thornton | = | Marcus Thornton |
| John | --- | Wall | = | John Wall |
| Darrell | --- | Arthur | = | Darrell Arthur |
| D.J. | --- | Augustin | = | D.J. Augustin |
| Will | --- | Barton | = | Will Barton |
| Wilson | --- | Chandler | = | Wilson Chandler |
| Kenneth | --- | Faried | = | Kenneth Faried |
| Danilo | --- | Gallinari | = | Danilo Gallinari |
| Gary | --- | Harris | = | Gary Harris |
| Nikola | --- | Jokic | = | Nikola Jokic |
| Joffrey | --- | Lauvergne | = | Joffrey Lauvergne |
| Mike | --- | Miller | = | Mike Miller |
| Emmanuel | --- | Mudiay | = | Emmanuel Mudiay |
| Jameer | --- | Nelson | = | Jameer Nelson |
| Jusuf | --- | Nurkic | = | Jusuf Nurkic |
| JaKarr | --- | Sampson | = | JaKarr Sampson |
| Axel | --- | Toupane | = | Axel Toupane |
| Nemanja | --- | Bjelica | = | Nemanja Bjelica |
| Gorgui | --- | Dieng | = | Gorgui Dieng |
| Kevin | --- | Garnett | = | Kevin Garnett |
| Tyus | --- | Jones | = | Tyus Jones |
| Zach | --- | LaVine | = | Zach LaVine |
| Shabazz | --- | Muhammad | = | Shabazz Muhammad |
| Adreian | --- | Payne | = | Adreian Payne |
| Nikola | --- | Pekovic | = | Nikola Pekovic |
| Tayshaun | --- | Prince | = | Tayshaun Prince |
| Ricky | --- | Rubio | = | Ricky Rubio |
| Damjan | --- | Rudez | = | Damjan Rudez |
| Greg | --- | Smith | = | Greg Smith |
| Karl-Anthony | --- | Towns | = | Karl-Anthony Towns |
| Andrew | --- | Wiggins | = | Andrew Wiggins |
| Steven | --- | Adams | = | Steven Adams |
| Nick | --- | Collison | = | Nick Collison |
| Kevin | --- | Durant | = | Kevin Durant |
| Randy | --- | Foye | = | Randy Foye |
| Josh | --- | Huestis | = | Josh Huestis |
| Serge | --- | Ibaka | = | Serge Ibaka |
| Enes | --- | Kanter | = | Enes Kanter |
| Mitch | --- | McGary | = | Mitch McGary |
| Nazr | --- | Mohammed | = | Nazr Mohammed |
| Anthony | --- | Morrow | = | Anthony Morrow |
| Cameron | --- | Payne | = | Cameron Payne |
| Andre | --- | Roberson | = | Andre Roberson |
| Kyle | --- | Singler | = | Kyle Singler |
| Dion | --- | Waiters | = | Dion Waiters |
| Russell | --- | Westbrook | = | Russell Westbrook |
| Cliff | --- | Alexander | = | Cliff Alexander |
| Al-Farouq | --- | Aminu | = | Al-Farouq Aminu |
| Pat | --- | Connaughton | = | Pat Connaughton |
| Allen | --- | Crabbe | = | Allen Crabbe |
| Ed | --- | Davis | = | Ed Davis |