### Try-it 9.2: Predicting Wages

This activity is meant to summarize your work with regularized regression models.  You will use your earlier work with data preparation and pipelines together with what you've learned with grid searches to determine an optimal model.  In addition to the prior strategies, this example is an excellent opportunity to utilize the `TransformedTargetRegressor` estimator in scikitlearn.

### The Data

This dataset is loaded from the openml resource library.  Originally from census data, the data contains wage and demographic information on 534 individuals. From the dataset documentation [here](https://www.openml.org/d/534)

```
The Current Population Survey (CPS) is used to supplement census information between census years. These data consist of a random sample of 534 persons from the CPS, with information on wages and other characteristics of the workers, including sex, number of years of education, years of work experience, occupational status, region of residence and union membership. 
```

In [14]:
from sklearn.datasets import fetch_openml
import warnings

warnings.filterwarnings("ignore")

In [15]:
wages = fetch_openml(data_id=534, as_frame=True)

In [16]:
wages.frame.head()

,EDUCATION,SOUTH,SEX,EXPERIENCE,UNION,WAGE,AGE,RACE,OCCUPATION,SECTOR,MARR
0,8,no,female,21,not_member,5.10,35,Hispanic,Other,Manufacturing,Married
1,9,no,female,42,not_member,4.95,57,White,Other,Manufacturing,Married
2,12,no,male,1,not_member,6.67,19,White,Other,Manufacturing,Unmarried
3,12,no,male,4,not_member,4.00,22,White,Other,Other,Unmarried
4,12,no,male,17,not_member,7.50,35,White,Other,Other,Married

#### Task

Build regression models to predict `WAGE`.  Incorporate the categorical features and transform the target using a logarithm.  Build `Ridge` models and consider some different amounts of regularization.  

After fitting your model, interpret the model and try to understand what features led to higher wages.  Consider using `permutation_importance` that you encountered in module 8.  Discuss your findings in the class forum.

For an in depth example discussing the perils of interpreting the coefficients see the example in scikitlearn examples [here](https://scikit-learn.org/stable/auto_examples/inspection/plot_linear_model_coefficient_interpretation.html).

In [26]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score,PredictionErrorDisplay
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, RidgeCV, Lasso
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer, TransformedTargetRegressor
from sklearn.inspection import permutation_importance
from sklearn.feature_selection import SequentialFeatureSelector
import numpy as np
import plotly.express as px
import pandas as pd
import warnings

In [27]:
X = wages.data
y = wages.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
wages

{'data':      EDUCATION SOUTH     SEX  EXPERIENCE       UNION  AGE      RACE  \
 0            8    no  female          21  not_member   35  Hispanic
 1            9    no  female          42  not_member   57     White
 2           12    no    male           1  not_member   19     White
 3           12    no    male           4  not_member   22     White
 4           12    no    male          17  not_member   35     White
 ..         ...   ...     ...         ...         ...  ...       ...
 529         18    no    male           5  not_member   29     White
 530         12    no  female          33  not_member   51     Other
 531         17    no  female          25      member   48     Other
 532         12   yes    male          13      member   31     White
 533         16    no    male          33  not_member   55     White

        OCCUPATION         SECTOR       MARR
 0           Other  Manufacturing    Married
 1           Other  Manufacturing    Married
 2           Other  Manufacturing  Unmarried
 3           Other          Other  Unmarried
 4           Other          Other    Married
 ..            ...            ...        ...
 529  Professional          Other  Unmarried
 530  Professional          Other    Married
 531  Professional          Other    Married
 532  Professional          Other    Married
 533  Professional  Manufacturing    Married

 [534 rows x 10 columns],
 'target': 0       5.10
 1       4.95
 2       6.67
 3       4.00
 4       7.50
        ...
 529    11.36
 530     6.10
 531    23.25
 532    19.88
 533    15.38
 Name: WAGE, Length: 534, dtype: float64,
 'frame':      EDUCATION SOUTH     SEX  EXPERIENCE       UNION   WAGE  AGE      RACE  \
 0            8    no  female          21  not_member   5.10   35  Hispanic
 1            9    no  female          42  not_member   4.95   57     White
 2           12    no    male           1  not_member   6.67   19     White
 3           12    no    male           4  not_member   4.00   22     White
 4           12    no    male          17  not_member   7.50   35     White
 ..         ...   ...     ...         ...         ...    ...  ...       ...
 529         18    no    male           5  not_member  11.36   29     White
 530         12    no  female          33  not_member   6.10   51     Other
 531         17    no  female          25      member  23.25   48     Other
 532         12   yes    male          13      member  19.88   31     White
 533         16    no    male          33  not_member  15.38   55     White

        OCCUPATION         SECTOR       MARR
 0           Other  Manufacturing    Married
 1           Other  Manufacturing    Married
 2           Other  Manufacturing  Unmarried
 3           Other          Other  Unmarried
 4           Other          Other    Married
 ..            ...            ...        ...
 529  Professional          Other  Unmarried
 530  Professional          Other    Married
 531  Professional          Other    Married
 532  Professional          Other    Married
 533  Professional  Manufacturing    Married

 [534 rows x 11 columns],
 'categories': None,
 'feature_names': ['EDUCATION',
  'SOUTH',
  'SEX',
  'EXPERIENCE',
  'UNION',
  'AGE',
  'RACE',
  'OCCUPATION',
  'SECTOR',
  'MARR'],
 'target_names': ['WAGE'],
 'DESCR': '**Author**:   \n**Source**: Unknown - Date unknown  \n**Please cite**:   \n\nDeterminants of Wages from the 1985 Current Population Survey\n\nSummary:\nThe Current Population Survey (CPS) is used to supplement census information between census years. These data consist of a random sample of 534 persons from the CPS, with information on wages and other characteristics of the workers, including sex, number of years of education, years of work experience, occupational status, region of residence and union membership. We wish to determine (i) whether wages are related to these characteristics and (ii) whether there is a gender gap in wages.\nBased on residual plots, wages were log-transformed to stabilize the variance. Age and work experience were almost perfectly correlated (r=.98). Multiple regression of log wages against sex, age, years of education, work experience, union membership, southern residence, and occupational status showed that these covariates were related to wages (pooled F test, p < .0001). The effect of age was not significant after controlling for experience. Standardized residual plots showed no patterns, except for one large outlier with lower wages than expected. This was a male, with 22 years of experience and 12 years of education, in a management position, who lived in the north and was not a union member. Removing this person from the analysis did not substantially change the results, so that the final model included the entire sample.\nAdjusting for all other variables in the model, females earned 81% (75%, 88%) the wages of males (p < .0001). Wages increased 41% (28%, 56%) for every 5 additional years of education (p < .0001). They increased by 11% (7%, 14%) for every additional 10 years of experience (p < .0001). Union members were paid 23% (12%, 36%) more than non-union members (p < .0001). Northerns were paid 11% (2%, 20%) more than southerns (p =.016). Management and professional positions were paid most, and service and clerical positions were paid least (pooled F-test, p < .0001). Overall variance explained was R2 = .35.\nIn summary, many factors describe the variations in wages: occupational status, years of experience, years of education, sex, union membership and region of residence. However, despite adjustment for all factors that were available, there still appeared to be a gender gap in wages. There is no readily available explanation for this gender gap.\n\nAuthorization: Public Domain\n\nReference: Berndt, ER. The Practice of Econometrics. 1991. NY: Addison-Wesley.\n\nDescription:  The datafile contains 534 observations on 11 variables sampled from the Current Population Survey of 1985.  This data set demonstrates multiple regression, confounding, transformations, multicollinearity, categorical variables, ANOVA, pooled tests of significance, interactions and model building strategies.\n\nVariable names in order from left to right:\nEDUCATION: Number of years of education.\nSOUTH: Indicator variable for Southern Region (1=Person lives in \t\tSouth, 0=Person lives elsewhere).\nSEX: Indicator variable for sex (1=Female, 0=Male).\nEXPERIENCE: Number of years of work experience.\nUNION: Indicator variable for union membership (1=Union member, \t\t0=Not union member).\nWAGE: Wage (dollars per hour).\nAGE: Age (years).\nRACE: Race (1=Other, 2=Hispanic, 3=White).\nOCCUPATION: Occupational category (1=Management, \t\t2=Sales, 3=Clerical, 4=Service, 5=Professional, 6=Other).\nSECTOR: Sector (0=Other, 1=Manufacturing, 2=Construction).\nMARR: Marital Status (0=Unmarried,  1=Married)\n\n\nTherese Stukel\nDartmouth Hitchcock Medical Center\nOne Medical Center Dr.\nLebanon, NH 03756\ne-mail: stukel@dartmouth.edu\n\n\nInformation about the dataset\nCLASSTYPE: numeric\nCLASSINDEX: none specific\n\nDownloaded from openml.org.',
 'details': {'id': '534',
  'name': 'cps_85_wages',
  'version': '1',
  'description_version': '1',
  'format': 'ARFF',
  'creator': ['D. and Rubinfeld', "D.L. 'Hedonic"],
  'contributor': 'Therese Stukel',
  'collection_date': '1985',
  'upload_date': '2014-09-29T00:08:13',
  'language': 'English',
  'licence': 'Public',
  'url': 'https://api.openml.org/data/v1/download/52646/cps_85_wages.arff',
  'parquet_url': 'http://openml1.win.tue.nl/dataset534/dataset_534.pq',
  'file_id': '52646',
  'default_target_attribute': 'WAGE',
  'tag': 'OpenML-Reg19',
  'visibility': 'public',
  'minio_url': 'http://openml1.win.tue.nl/dataset534/dataset_534.pq',
  'status': 'active',
  'processing_date': '2020-11-20 20:35:45',
  'md5_checksum': '5fd1cadd7665efa170ee99e0dd07f07f'},
 'url': 'https://www.openml.org/d/534'}

In [33]:
X_train

,EDUCATION,SOUTH,SEX,EXPERIENCE,UNION,AGE,RACE,OCCUPATION,SECTOR,MARR
5,13,no,male,9,member,28,White,Other,Other,Unmarried
116,11,no,male,11,not_member,28,White,Other,Construction,Unmarried
45,7,yes,female,15,not_member,28,White,Other,Manufacturing,Married
444,16,yes,male,13,not_member,35,Other,Professional,Other,Married
298,12,no,female,0,not_member,18,White,Clerical,Other,Unmarried
...,...,...,...,...,...,...,...,...,...,...
71,14,no,male,20,member,40,White,Other,Other,Married
106,14,no,male,21,member,41,White,Other,Other,Married
270,12,no,female,38,not_member,56,White,Clerical,Other,Married
435,18,no,male,8,not_member,32,White,Professional,Other,Married
102,12,no,male,8,not_member,26,White,Other,Other,Unmarried

In [34]:
y_train

5      13.07
116     3.75
45      6.00
444    17.50
298     5.00
       ...
71     16.00
106    26.00
270     9.65
435    22.20
102     6.50
Name: WAGE, Length: 357, dtype: float64