#### Description: 
This dataset includes the financial information collected from Yahoo Finance and includes all U.S. Mutual Funds and along with their historical prices. The file contains 23,783 Mutual Funds and 2,310 ETFs with:
General fund aspects (e.g. total_net_assets, fund family, inception date, etc.)
Portfolio indicators (e.g. cash, stocks, bonds, sectors, etc.)
Historical yearly and quarterly returns (e.g. year_to_date, 1-year, 3-years, etc.)
Financial ratios (price/earning, Treynor and Sharpe ratios, alpha, and beta)
ESG scores

#### Use Cases: 
Private investor and Corporate institutions
Trading Strategies: Design and validate trading techniques based on mutual funds and ETFs.
Risk Management: Use the data for hedging decisions and risk management for businesses.

#### Source:
url = https://storage.googleapis.com/kaggle-data-sets/55721/2915265/bundle/archive.zip

In [17]:
#dataframe
import pandas as pd
data_funds = pd.read_csv('data/mutual_funds_data.csv')
data_funds

,fund_symbol,quote_type,region,fund_short_name,fund_long_name,currency,initial_investment,subsequent_investment,fund_category,fund_family,...,peer_environment_avg,peer_environment_max,social_score,peer_social_min,peer_social_avg,peer_social_max,governance_score,peer_governance_min,peer_governance_avg,peer_governance_max
0,AAAAX,MutualFund,US,DWS RREEF Real Assets Fund - Cl,DWS RREEF Real Assets Fund - Class A,USD,1000.0,50.0,World Allocation,DWS,...,5.05,10.58,7.43,5.98,9.07,11.30,5.43,4.26,7.14,8.11
1,AAAEX,MutualFund,US,AllianzGI Health Sciences Fund,Virtus AllianzGI Health Sciences Fund Class P,USD,1000000.0,NaN,Health,Virtus,...,1.43,3.27,12.96,9.52,12.87,15.08,8.40,4.96,7.68,10.30
2,AAAFX,MutualFund,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,2500.0,50.0,Target-Date 2015,American Century Investments,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAAGX,MutualFund,US,Thrivent Large Cap Growth Fund,Thrivent Large Cap Growth Fund Class A,USD,2000.0,50.0,Large Growth,Thrivent Funds,...,2.70,5.81,10.13,7.25,10.14,11.97,8.03,5.30,7.54,8.90
4,AAAHX,MutualFund,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,5000000.0,NaN,Target-Date 2015,American Century Investments,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23778,ZVNIX,MutualFund,US,Fidelity Advisor Small Cap Valu,Fidelity Advisor Small Cap Value Fund Class M,USD,50000.0,500.0,Large Growth,Fidelity Investments,...,2.70,5.81,10.53,7.25,10.14,11.97,7.25,5.30,7.54,8.90
23779,VHYAX,MutualFund,US,Capital World Bond Fund - Class,American Funds Capital World Bond Fund Class 5...,USD,3000.0,1.0,Large Value,American Funds,...,5.00,9.11,10.83,7.04,10.48,12.42,7.84,5.83,7.71,9.30
23780,VIAAX,MutualFund,US,Capital World Growth and Income,American Funds Capital World Growth and Income...,USD,3000.0,1.0,Foreign Large Growth,American Funds,...,3.87,6.22,8.53,7.25,8.96,11.96,7.70,5.79,7.42,8.78
23781,VIHAX,MutualFund,US,Templeton China World Cl R6,Templeton China World Fund Class R6,USD,3000.0,1.0,Foreign Large Value,Franklin Templeton Investments,...,5.35,11.49,9.55,6.59,9.24,11.66,8.79,5.79,8.10,10.85
23782,TSWHX,MutualFund,US,Fidelity Select Industrials,Fidelity Select Industrials Portfolio,USD,1000000.0,NaN,High Yield Bond,Fidelity Investments,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data_funds.shape

(23783, 298)

In [19]:
data_funds.describe()

,initial_investment,subsequent_investment,total_net_assets,year_to_date_return,day50_moving_average,day200_moving_average,week52_high_low_change,week52_high_low_change_perc,week52_high,week52_high_change,...,peer_environment_avg,peer_environment_max,social_score,peer_social_min,peer_social_avg,peer_social_max,governance_score,peer_governance_min,peer_governance_avg,peer_governance_max
count,1.648500e+04,8943.000000,2.374900e+04,23382.000000,23782.000000,23782.000000,23496.000000,23496.000000,23496.000000,23421.000000,...,14839.000000,14839.000000,15388.000000,14839.000000,14839.000000,14839.000000,15388.000000,14839.000000,14839.000000,14839.000000
mean,5.179181e+06,1015.925752,4.924192e+09,0.093485,23.638731,23.084989,4.643490,0.146057,24.995830,-1.957576,...,4.357856,7.675547,8.043626,6.906983,9.346850,11.308239,6.210819,5.387539,7.219275,8.917380
std,9.253584e+07,11023.969484,2.109765e+10,0.082276,33.126315,31.552946,9.312633,0.092420,35.208749,4.069716,...,1.498273,2.838513,3.674170,1.167251,1.204409,1.732701,2.800713,0.748176,0.820705,1.364138
min,1.000000e+01,1.000000,1.000000e+01,-0.522800,1.279000,1.363000,0.000000,0.000000,1.700000,-101.420040,...,0.750000,0.830000,0.000000,2.300000,4.410000,5.860000,0.000000,2.610000,3.040000,3.310000
25%,1.000000e+03,50.000000,1.445834e+08,0.026100,10.997250,10.968000,0.750000,0.061890,11.350000,-1.960000,...,3.810000,5.810000,8.240000,6.530000,9.060000,10.710000,6.230000,5.050000,6.930000,7.950000
50%,2.500000e+03,50.000000,6.443283e+08,0.092000,14.959500,14.709000,2.420000,0.149255,15.660000,-0.800000,...,4.080000,7.420000,9.480000,7.040000,9.450000,11.520000,7.350000,5.300000,7.420000,8.950000
75%,5.000000e+05,100.000000,2.453409e+09,0.149700,25.184500,24.693250,5.390000,0.211635,26.680000,-0.340000,...,5.000000,9.890000,10.190000,7.420000,10.120000,12.040000,7.740000,5.830000,7.540000,9.650000
max,5.000000e+09,500000.000000,7.534100e+11,0.578900,2018.338000,1920.319000,455.750000,0.882960,2092.820000,0.004900,...,14.350000,21.290000,15.080000,14.780000,14.790000,17.250000,14.020000,11.650000,11.650000,15.300000

#### Description: 
A blockchain is a distributed ledger with growing lists of records (blocks) that are securely linked together via cryptographic hashes. Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data (generally represented as a Merkle tree, where data nodes are represented by leaves)

#### Use Cases: 
Individual researches and developers to be able to analyze the blockchain deeply or even train machine learning models in just a few minutes, instead of several hours/days

#### Source:
url = https://storage.googleapis.com/kaggle-data-sets/3554939/6359065/bundle/archive.zip

In [20]:
# dataframe
df_bit = pd.read_csv('data/bitcoin_hist_data.csv')
df_bit

,height,timestamp,size,tx_count,difficulty,median_fee_rate,avg_fee_rate,total_fees,fee_range_min,fee_range_max,input_count,output_count,output_amount
0,1,1231469665000,215,1,1.000000e+00,0.000000,0,0,0.000000,0.000000,0,1,0
1,2,1231469744000,215,1,1.000000e+00,0.000000,0,0,0.000000,0.000000,0,1,0
2,3,1231470173000,215,1,1.000000e+00,0.000000,0,0,0.000000,0.000000,0,1,0
3,4,1231470988000,215,1,1.000000e+00,0.000000,0,0,0.000000,0.000000,0,1,0
4,5,1231471428000,215,1,1.000000e+00,0.000000,0,0,0.000000,0.000000,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
804663,804664,1692882889000,1668438,2761,5.562144e+13,6.980994,7,7057459,6.397059,35.686275,6689,11582,36150240896
804664,804665,1692883478000,1393602,2977,5.562144e+13,14.074866,20,20772172,6.419118,760.452962,5291,8314,915303123154
804665,804666,1692883741000,1972901,5807,5.562144e+13,6.426471,8,8481713,6.397059,225.225225,7080,8775,143619008510
804666,804667,1692885144000,1536390,3794,5.562144e+13,14.074866,18,18722309,8.520249,500.000000,6508,12022,1587385460492
804667,804668,1692885738000,1431158,2354,5.562144e+13,10.001966,13,13348783,7.018868,365.700185,6867,7351,748544084803

In [21]:
df_bit.shape

(804668, 13)

In [22]:
df_bit.describe()

,height,timestamp,size,tx_count,difficulty,median_fee_rate,avg_fee_rate,total_fees,fee_range_min,fee_range_max,input_count,output_count,output_amount
count,804668.000000,8.046680e+05,8.046680e+05,804668.000000,8.046680e+05,8.046680e+05,8.046680e+05,8.046680e+05,804668.000000,8.046680e+05,804668.000000,804668.000000,8.046680e+05
mean,402334.500000,1.461348e+12,6.288598e+05,1098.575234,7.449962e+12,5.500943e+01,9.334386e+01,3.348021e+07,9.376817,2.093577e+11,2869.449523,3083.856496,1.044516e+12
std,232287.787543,1.305817e+11,5.998891e+05,1106.430154,1.243851e+13,1.204936e+03,1.885444e+03,9.181505e+07,147.811305,1.878007e+14,2687.080207,3254.668625,3.487197e+12
min,1.000000,1.231470e+12,1.760000e+02,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,0.000000e+00
25%,201167.750000,1.348973e+12,3.333550e+04,68.000000,2.864141e+06,1.000000e+00,1.000000e+01,1.939169e+06,0.000000,2.240000e+02,153.000000,166.000000,8.286572e+10
50%,402334.500000,1.457787e+12,4.397995e+05,667.000000,1.634917e+11,1.400000e+01,2.900000e+01,1.041885e+07,1.000000,4.730000e+02,2038.000000,1818.000000,4.016351e+11
75%,603501.250000,1.573596e+12,1.140764e+06,2079.000000,1.294859e+13,5.100000e+01,8.300000e+01,3.141290e+07,1.000000,1.312000e+03,5371.000000,5483.000000,1.135333e+12
max,804668.000000,1.692886e+12,3.978938e+06,12239.000000,5.562144e+13,1.029502e+06,1.143052e+06,2.915328e+10,56155.000000,1.684634e+17,20894.000000,23642.000000,6.499324e+14

#### Description:
This dataset offers detailed, up-to-date information on precious metals futures. Futures are financial contracts obligating the buyer to purchase, and the seller to sell, a particular precious metal (such as gold, silver, platinum, etc.) at a predetermined future date and price.

#### Use Cases:
Trend Analysis: Examine patterns and price movements to predict future market behaviors.
Academic Research: Study the historical behavior and impact of global events on metal prices.
Trading Strategies: Design and validate trading techniques based on precious metals futures.
Risk Management: Use the data for hedging decisions and risk management for businesses involved in mining or trading precious metals

#### Source
url = https://storage.googleapis.com/kaggle-data-sets/3625760/6402313/bundle/archive.zip

In [23]:
# data frame commodities
df_commodities = pd.read_csv('data/commodities_data.csv')
df_commodities

,ticker,commodity,date,open,high,low,close,volume
0,GC=F,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0
1,GC=F,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0
2,GC=F,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0
3,GC=F,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2
4,GC=F,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...,...
28039,PA=F,Palladium,2023-08-28,1245.400024,1245.400024,1245.400024,1245.400024,1
28040,PA=F,Palladium,2023-08-29,1232.800049,1232.800049,1232.800049,1232.800049,2836
28041,PA=F,Palladium,2023-08-30,1236.500000,1241.000000,1203.000000,1216.900024,439
28042,PA=F,Palladium,2023-08-31,1228.000000,1228.000000,1207.800049,1207.800049,19
28043,PA=F,Palladium,2023-09-01,1217.199951,1217.199951,1217.199951,1217.199951,19

In [24]:
df_commodities.shape

(28044, 8)

In [25]:
df_commodities.describe()

               open          high           low         close         volume
count  28044.000000  28044.000000  28044.000000  28044.000000   28044.000000
mean     594.863297    597.080781    592.491851    594.855095    1551.540793
std      641.129097    643.136145    638.772045    640.873576   12099.105779
min        0.609000      0.609500      0.604000      0.604000       0.000000
25%        7.525750      7.545250      7.504250      7.524000       3.000000
50%      402.000000    403.550003    400.000000    401.949997      66.000000
75%     1021.925018   1024.850037   1020.100006   1022.062485     365.000000
max     3380.500000   3380.500000   2985.399902   2985.399902  386334.000000