## Codio Activity 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 20 Points**

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [380]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### loc[]

**2 Points each**

In this exercise, return the basic information from a dataframe using loc[]

In [381]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('data/nba.csv')
data = data.iloc[:-1 , :] # removing last row NaN
data.head(10)

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [382]:
### GRADED

# Please print the information for the first line in the DataFrame. 

locinfo = None
#print(data)
### BEGIN SOLUTION
locinfo = data.loc[0, : ]
### END SOLUTION
from pprint import pprint
# ANSWER CHECK
print(locinfo)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

In [383]:
### BEGIN HIDDEN TESTS
locinfo1 = data.loc[0]
assert type(locinfo) == type(locinfo1)
locinfo == locinfo1

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 0, dtype: bool

In [384]:
### GRADED
# Please show LeBron James' name and team

teamdata = None

### BEGIN SOLUTION
teamdata = data.loc[data['Name'] == 'LeBron James', 'Name':'Team']
### END SOLUTION

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

In [385]:
### BEGIN HIDDEN TESTS
teamdata_ = data.loc[data.Name == 'LeBron James', 'Name':'Team']
assert type(teamdata) == type(teamdata_)
teamdata == teamdata_

### END HIDDEN TESTS

     Name  Team
169  True  True

[Back to top](#Index:) 

## Part two

### iloc[]

**2 Points each**

In this exercise, return single selections using iloc[]

In [386]:
### GRADED
# Please print the first row of data frame 

fr = None

### BEGIN SOLUTION

fr = data.iloc[0]

### END SOLUTION

# ANSWER CHECK
print(fr)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Number                   0.0
Position                  PG
Age                     25.0
Height                   6-2
Weight                 180.0
College                Texas
Salary             7730337.0
Name: 0, dtype: object

In [387]:
### BEGIN HIDDEN TESTS

## Old test case, seem incorrect. Commenting it for now...
# teamdata1 = data.loc[data.Name == 'LeBron James', 'Name':'Team']
# assert type(teamdata) == type(teamdata1)
# teamdata == teamdata1

fr_ =  data.iloc[0]
assert type(fr) == type(fr_ )
fr == fr_

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 0, dtype: bool

In [388]:
### GRADED
# Please print the second row of data frame 

sr = None

### BEGIN SOLUTION

sr =  data.iloc[1]

### END SOLUTION

# ANSWER CHECK
print(sr)

Unnamed: 0                 1
Name             Jae Crowder
Team          Boston Celtics
Number                  99.0
Position                  SF
Age                     25.0
Height                   6-6
Weight                 235.0
College            Marquette
Salary             6796117.0
Name: 1, dtype: object

In [389]:
### BEGIN HIDDEN TESTS
sr_ =  data.iloc[1]
assert type(sr) == type(sr_ )
sr == sr_ 

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 1, dtype: bool

In [390]:
### GRADED
# Please print the last row of data frame

lr = None

### BEGIN SOLUTION

lr =  data.iloc[-1] 

### END SOLUTION

# ANSWER CHECK
print(lr)

Unnamed: 0             455
Name          Tibor Pleiss
Team             Utah Jazz
Number                21.0
Position                 C
Age                   26.0
Height                 7-3
Weight               256.0
College                NaN
Salary           2900000.0
Name: 455, dtype: object

In [391]:
### BEGIN HIDDEN TESTS
lr_ =  data.iloc[-1]
assert type(lr) == type(lr_)
lr == lr_

### END HIDDEN TESTS

Unnamed: 0     True
Name           True
Team           True
Number         True
Position       True
Age            True
Height         True
Weight         True
College       False
Salary         True
Name: 455, dtype: bool

In [392]:
###GRADED
# Please print the first column of data frame
 
fc = None

### BEGIN SOLUTION

fc =  data.iloc[:,0] 

### END SOLUTION

# ANSWER CHECK
print(fc)

0        0
1        1
2        2
3        3
4        4
      ...
451    451
452    452
453    453
454    454
455    455
Name: Unnamed: 0, Length: 456, dtype: int64

In [393]:
### BEGIN HIDDEN TESTS
fc_ =  data.iloc[:,0]
assert type(fc) == type(fc_)
fc == fc_

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Unnamed: 0, Length: 456, dtype: bool

In [394]:
### GRADED
# Please print the second column of data frame

sc = None

### BEGIN SOLUTION

sc =  data.iloc[:,1]

### END SOLUTION

# ANSWER CHECK
print(sc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [395]:
### BEGIN HIDDEN TESTS
sc_ =  data.iloc[:,1]
assert type(sc) == type(sc_)
sc == sc_

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Name, Length: 456, dtype: bool

In [396]:
### GRADED
# Please print the last column of data frame

lc = None

### BEGIN SOLUTION

lc =  data.iloc[:,-1] 

### END SOLUTION

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

In [397]:
### BEGIN HIDDEN TESTS
lc_ =  data.iloc[:,-1]
assert type(lc) == type(lc_)
lc == lc_

### END HIDDEN TESTS

0       True
1       True
2      False
3       True
4       True
       ...
451     True
452     True
453     True
454     True
455     True
Name: Salary, Length: 456, dtype: bool

[Back to top](#Index:) 

## Part three

### Split

**2 Points each**

In this exercise, return the first and last name utilizing the split function

In [398]:
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [399]:
### GRADED

# Please print the first name of the first series in the data frame

firstname = None

### BEGIN SOLUTION

firstname = data['Name'].str.split().str[0].iloc[0]

### END SOLUTION

# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In [400]:
### BEGIN HIDDEN TESTS
firstname1 =  data['Name'].str.split().str[0].iloc[0]
assert type(firstname) == type(firstname1)
firstname == firstname1

### END HIDDEN TESTS

True

### # Please print the first name of the first series in the data frame

#### Plamen's explanation

In [401]:
# the data frame
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [402]:
# the first series in the data frame
data.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [403]:
# the first data series in the data frame (split)
data.Name.str.split()

0      [Avery, Bradley]
1        [Jae, Crowder]
2       [John, Holland]
3        [R.J., Hunter]
4      [Jonas, Jerebko]
             ...
451    [Chris, Johnson]
452       [Trey, Lyles]
453     [Shelvin, Mack]
454        [Raul, Neto]
455     [Tibor, Pleiss]
Name: Name, Length: 456, dtype: object

In [404]:
# the first name of the first series in the data frame
# returns pandas series
data.Name.str.split().str[0]

0        Avery
1          Jae
2         John
3         R.J.
4        Jonas
        ...
451      Chris
452       Trey
453    Shelvin
454       Raul
455      Tibor
Name: Name, Length: 456, dtype: object

In [405]:
# the first record or the first value of the Data Series, which series is "the first name of the first data series in the data frame"
# returns string
data.Name.iloc[0].split()[0]

'Avery'

In [406]:
# Your answer returns: first record or first value of a series "the first name of the first data series in the data frame"
# returns string
data['Name'].str.split().str[0].iloc[0]

'Avery'

In [407]:
###GRADED

# Please print the last name of the first series in the data frame

lastname = None

### BEGIN SOLUTION
lastname =  data['Name'].str.split().str[1].iloc[0]
### END SOLUTION

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley

In [408]:
### BEGIN HIDDEN TESTS
lastname1 =  data['Name'].str.split().str[1].iloc[0]
assert type(lastname) == type(lastname1)
lastname == lastname1

### END HIDDEN TESTS

True

### # Please print the last name of the first series in the data frame

#### Plamen's explanation

In [409]:
# the data frame
data

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [410]:
# the first series in the data frame
data['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [411]:
# the first series in the data frame (split)
data['Name'].str.split()

0      [Avery, Bradley]
1        [Jae, Crowder]
2       [John, Holland]
3        [R.J., Hunter]
4      [Jonas, Jerebko]
             ...
451    [Chris, Johnson]
452       [Trey, Lyles]
453     [Shelvin, Mack]
454        [Raul, Neto]
455     [Tibor, Pleiss]
Name: Name, Length: 456, dtype: object

In [412]:
# the last name of the first series in the data frame
# returns pandas series
data['Name'].str.split().str[1]

0      Bradley
1      Crowder
2      Holland
3       Hunter
4      Jerebko
        ...
451    Johnson
452      Lyles
453       Mack
454       Neto
455     Pleiss
Name: Name, Length: 456, dtype: object

In [413]:
# the first record or the first value of the Data Series, which series is "the last name of the first data series in the data frame"
# returns string
data.Name.str.split().str[1].iloc[0]

'Bradley'

In [415]:
# Your answer returns: first record or first value of a series "the last name of the first data series in the data frame"
# returns string
data['Name'].str.split().str[1].iloc[0]

'Bradley'